* {
  margin: 0;
}

body {
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
  height: 100vh;
  justify-self: center;
  align-items: center;
}

.container-fluid {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background: #fff;
}
.background {
  background: linear-gradient(132deg, #ff8a00, #e52e71);
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0px;
}
.cube {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  border: solid 1px #d7d4e4;
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: cube 12s ease-in forwards infinite;
}
.cube:nth-child(2n) {
  border-color: #fff;
}
.cube:nth-child(2) {
  animation-delay: 2s;
  left: 25vw;
  top: 40vh;
}
.cube:nth-child(3) {
  animation-delay: 4s;
  left: 75vw;
  top: 50vh;
}
.cube:nth-child(4) {
  animation-delay: 6s;
  left: 90vw;
  top: 10vh;
}
.cube:nth-child(5) {
  animation-delay: 8s;
  left: 10vw;
  top: 85vh;
}
.cube:nth-child(6) {
  animation-delay: 10s;
  left: 50vw;
  top: 10vh;
}
header {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.header-content {
  margin-top: 25%;
  text-align: center;
  color: #efeef5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-content h1 {
  text-transform: uppercase;
  font-size: 3em;
  letter-spacing: 1px;
}
#line {
  animation: lineanimation 0.5s infinite linear;
}
@keyframes lineanimation {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}

.section {
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 0;
  height: fit-content;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.slider {
  width: 30%;
  height: 400px;
  border-radius: 20px;
  overflow: hidden;
}
.slide {
  width: 500%;
  height: fit-content;
  display: flex;
  position: relative;
}

.slide input {
  display: none;
}

.st {
  width: 20%;
  transition: 2s;
}

.st img {
  width: 100%;
  height: 400px;
}

.nav-m {
  position: absolute;
  bottom: 10px;
  left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.m-btn {
  border: 2px solid #23e3c2;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.m-btn:not(:last-child) {
  margin-right: 30px;
}
.m-btn:hover {
  background-color: #23e3c2;
}
#radio1:checked ~ .first {
  margin-left: 0;
}
#radio2:checked ~ .first {
  margin-left: -20%;
}
#radio3:checked ~ .first {
  margin-left: -40%;
}
#radio4:checked ~ .first {
  margin-left: -60%;
}
.nav-auto {
  position: absolute;
  width: 800px;
  margin-top: 400px;
  display: flex;
  justify-content: center;
}
.nav-auto div {
  border: 2px solid #23e3c2;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
  display: flex;
  justify-content: center;
}
.nav-auto div:not(:last-child) {
  margin-right: 30px;
  justify-content: center;
}
#radio1:checked ~ .nav-auto .a-b1 {
  background-color: #23e3c2;
}
#radio2:checked ~ .nav-auto .a-b2 {
  background-color: #23e3c2;
}
#radio3:checked ~ .nav-auto .a-b3 {
  background-color: #23e3c2;
}
#radio4:checked ~ .nav-auto .a-b4 {
  background-color: #23e3c2;
}
.about {
  width: 50%;
}

.card-list {
  display: flex;
  padding: 3rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  height: 250px;
  color: white;
  width: 300px;
  min-width: 250px;
  padding: 1.5rem;
  border-radius: 16px;
  background: #221d2a;
  box-shadow: -10px 0 20px #000;
  transition: 0.2s;
}

.card:hover {
  transform: translateY(-1rem);
}

.card:hover ~ .card {
  transform: translateX(130px);
}

.card:not(:first-child) {
  margin-left: -130px;
}

.card-header h2 {
  display: flex;
  padding: 30px;
  justify-content: center;
  align-items: center;
  margin-bottom: auto;
  font-size: 1.5rem;
}

.card-header h2:hover {
  background: linear-gradient(90deg, #ff8a00, #e52e71);
  text-shadow: none;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tags {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2em;
  padding: 0.5rem 0 1rem;
  font-size: 1em;
  margin-bottom: 0;
}

.tags a {
  font-style: normal;
  font-weight: 700;
  color: #7a7a8c;
  text-transform: uppercase;
  border: 3px solid #28242f;
  border-radius: 2rem;
  padding: 0.2rem 0.85rem 0.25rem;
  position: relative;
}

.tags a:hover {
  background: linear-gradient(90deg, #ff8a00, #e52e71);
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-box-decoration-break: clone;
  background-clip: text;
  border-color: white;
}
.d1 {
  width: 100%;
  height: 339px;
}
.d1 h1 {
  text-align: center;
  padding-top: 100px;
}

.footer-dark {
  padding: 50px 0;
  color: #f0f9ff;
  background-color: #282d32;
}

.footer-dark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 18px;
}

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 16px;
  margin-bottom: 0;
}

.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

.footer-dark ul a:hover {
  opacity: 0.9;
}

@media (max-width: 767px) {
  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px;
  }
}

.footer-dark .item.text {
  margin-bottom: 36px;
}

@media (max-width: 767px) {
  .footer-dark .item.text {
    margin-bottom: 0;
  }
}

.footer-dark .item.text p {
  opacity: 0.6;
  margin-bottom: 0;
}

.footer-dark .item.social {
  text-align: center;
}

@media (max-width: 991px) {
  .footer-dark .item.social {
    text-align: center;
    margin-top: 20px;
  }
}

.footer-dark .item.social > a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  margin: 0 8px;
  color: #fff;
  opacity: 0.75;
}

.footer-dark .item.social > a:hover {
  opacity: 0.9;
}

.footer-dark .copyright {
  text-align: center;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0;
}
